{{>navbar}}
<div id="wrapper">
    {{>sidebarStaff}}

    <div class="container-fluid">
        <h1 style="text-align: center;">Product Formular</h1>

        <div class="search-product align-middle row">
            <p class="h3">Search Product:</p>
            <form class="col-sm-4">
                <input class="form-control" id="search-value" placeholder="Search here..." type="text">
                <button type="submit" style="height: 55px" id="search-btn"> <i class="fa fa-search"></i> </button>
            </form>
        </div>
        <div class="row">
            {{#each products}}
            <div class="col-lg-4 col-md-6 mt-3 mb-3">
                <div class="card rounded shadow">
                    <img class="card-img-top" src="{{imgSrc}}" style="max-height: 400px;object-fit:cover"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{name}}</h5>
                        <a href="/formula/view/{{id}}" class="btn btn-primary btn-block m-x-auto">View Formula</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{>pagination}}
    </div>

</div>
{{>logout}}
{{>scrolltotop}}
{{#extend "script"}}
<script src="/js/paginate-query.js"></script>
{{/extend}}